html, body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica, Arial, Verdana;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

.m-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.m-menu {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid silver;
}

.m-menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.m-menu-header-logo {
    width: 40%;
}

.m-menu-header-logo img {
    width: 100%;
    transform: translate3d(16%, 24%, 0);
}

.m-menu-header-title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
}

.m-menu-three {
    width: 100%;
    height: 100%;
    background-color: white;
}

.m-main {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 75%;
    flex-direction: column;
    display: flex;
    background-color: white;
}

.m-main-title {
    font-size: 3rem;
    border: 0;
    width: 100%;
}

.m-main-text {
    overflow-x: hidden;
    flex: 1;
}